
@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel='stylesheet' id='fontawesome-css' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css' type='text/css' media='all' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" type="text/css" />
    <style>



        td.paymenttable {
            padding: 0px 1rem 0px 0px;
        }

        td.half {
            width: 50%;
        }

        @@media screen and (max-width: 479px) {
            table {
                width: 100% !important;
                border-collapse: collapse;
                margin-left: auto;
                margin-right: auto;
                border-spacing: 0;
                max-width: 600px;
                border: solid 1px #d1d1d1;
                background-color: #ffffff;
            }

                table td {
                    padding: .5rem;
                }

            table,
            thead,
            tbody,
            th,
            td,
            tr {
                display: block;
            }
          

                table.smalltable td, table.smalltable tr, table.smalltable table {
                    display: flex;
                    align-content: flex-start;
                   
                }

                table.smalltable td {
                    width: 50%;
                }

                td.paymenttable {
                    padding: .5rem;
                  
                }



            .schedule {
                text-align: center;
            }


                .schedule td {
                    padding: 2rem;
                }

            td.half {
                width: 100%;
            }
        }
    </style>
</head>
<body style="background-color:#f3f5f4;margin:0; padding:0;font-family:Arial, Verdana, Helvetica;">
   
    <table border="0" cellpadding="0" cellspacing="0" style="width:90%;border:0;border-collapse:collapse;margin-left:auto;margin-right:auto; border-spacing:0;max-width:800px;background-color:#f3f5f4;">
        <tr>
            <td colspan="2" style="padding-top:1rem;" >
                <table border="0" cellpadding="0" cellspacing="0" class="smalltable" style="width:100%;border-collapse:collapse;margin-left:auto;margin-right:auto; border-spacing:0;max-width:800px;border:solid 1px #d1d1d1;background-color:#ffffff;">
                    <tr style="background-color:#559ce3;">
                        <td style="width:30%;">
                            <img src="https://www.sandcastlesouthbeach.com/images/SC-white-logo.png" style="max-height: 80px; margin-left:1rem;" />
                        </td>
                        <td style="width:70%; text-align:right; padding:1rem 2rem 1rem 0;color:#ffffff; font-size:1.3em;">
                            <strong>Reservation Confirmation</strong>
                        </td>
                    </tr>
                    <tr style="background-color:#ffffff;">
                        <td colspan="2" style="width:100%;padding:1rem;"><strong>Confirmation Number: 2020111159222</strong></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table border="0" cellpadding="0" cellspacing="0" class="schedule" style="margin-top:1rem;width:100%;border-collapse:collapse;border-spacing:0;border:solid 1px #d1d1d1;background-color:#ffffff;">
                    <tr style="background-color:#559ce3; color:#ffffff;">
                        <td colspan="2" style="font-size:1.3em;padding:1rem;"><strong>SandCastle at South Beach</strong></td>
                    </tr>
                    <tr style="border-bottom:solid 1px #d1d1d1;">
                        <td style="padding:1rem;font-size:1.2em;" class="half">

                            <a style="color:#000000;text-decoration:none;font-weight:normal;" target="_blank" href="http://maps.google.com/?q=1802 North Ocean Blvd Myrtle Beach SC, 29577">
                                1802 North Ocean Blvd<br />Myrtle Beach SC, 29577-3218
                            </a>

                        </td>
                        <td style="padding:1rem;font-size:1.5em; text-align:center;" class="half">
                            <a href="tel:18009105368" style="color:#000000;text-decoration:none;font-weight:normal;">1-800-910-5368</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:1rem;font-size:1.2em;">
                            <strong>Check In:</strong><br/>
                            Tuesday Oct. 28, 2020<br />
                            After 3:00pm<br />

                        </td>
                        <td style="padding:1rem;font-size:1.2em;">
                            <strong>Check Out:</strong><br />
                            Tuesday Oct. 28, 2020<br />
                            By 11:00am
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;padding:.5rem;" colspan="2">
                            <a style="color:blue;text-decoration:underline;font-size:.75rem;" title="Save Event in my Calendar" target="_blank" href="https://calendar.google.com/calendar/render?action=TEMPLATE&dates=20201118T200000Z%2F20201125T160000Z&details=&location=1802%20north%20Ocean%20Blvd%20myrtle%20beach%2C%20SC%2029577&text=Vacation%20">Add to Calendar</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table border="0" cellpadding="0" cellspacing="0" style="margin-top:1rem;border-collapse:collapse;border-spacing:0;border:solid 1px #d1d1d1;background-color:#ffffff;">
                    <tr style="background-color:#559ce3;color:#ffffff;">
                        <td colspan="2" style="font-size:1em;padding:1rem;"><strong>Room Details</strong></td>
                    </tr>
                    <tr>
                        <td style="padding:0px;"><img src="https://www.sandcastlesouthbeach.com/data1/images/typeg-pic1.jpg" style="max-width:389px;" /></td>
                        <td style="padding-left:1rem; padding-right:1rem;">
                            <span style="color:#559ce3;font-size:1.2em;"><strong>Oceanfront Executive King</strong></span>
                            <p>Our Oceanfront Executive King sleeps up to 4 and is non-smoking. The unit has 1 King Bed, 1 flat screen TV, Kitchen, Microwave, Stove and a Private Balcony. Appliances are stainless steel with a full size refrigerator.</p>
                            <p>
                                <strong>Guest: 2 Adults, 0 Children</strong><br />
                                <strong>Rooms Booked: 1</strong>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height:100%;padding-top:1rem;" class="paymenttable">
                <table class="smalltable" border="0" cellpadding="0" cellspacing="0" style="height:100%;width:100%;height:260px;border-collapse:collapse;border-spacing:0;border:solid 1px #d1d1d1;background-color:#ffffff;">
                    <tr style="background-color:#559ce3;color:#ffffff;">
                        <td colspan="2" style="font-size:1em;padding:1rem;"><strong>Payment Summary</strong></td>
                    </tr>
                    <tr>
                        <td style="padding:.5rem;">Subtotal</td>
                        <td style="padding:.5rem;">$420.00</td>
                    </tr>
                    <tr>
                        <td style="padding:.5rem;">Taxes &amp; fees</td>
                        <td style="padding:.5rem;">$60.00</td>
                    </tr>
                    <tr>
                        <td style="padding:.5rem;"><strong>Total Cost</strong></td>
                        <td style="padding:.5rem;"><strong>$500.00</strong></td>
                    </tr>
                    <tr style="color:#559ce3;">
                        <td style="padding:.5rem;"><strong>Deposit</strong></td>
                        <td style="padding:.5rem;"><strong>$125.00</strong></td>
                    </tr>
                </table>
            </td>
            <td style="height:100%;padding-top:1rem;" class="half">
                <table class="smalltable" border="0" cellpadding="0" cellspacing="0" style="height:100%;width:100%;height:260px;border-collapse:collapse;border-spacing:0;border:solid 1px #d1d1d1;background-color:#ffffff;">
                    <tr style="background-color:#559ce3;color:#ffffff;">
                        <td colspan="2" style="font-size:1em;padding:1rem;"><strong>Customer Details</strong></td>
                    </tr>
                    <tr>
                        <td style="padding:.5rem;">Guest Name:</td>
                        <td style="padding:.5rem;">Jane Doe</td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top;padding:.5rem;">Address:</td>
                        <td style="padding:.5rem;">
                            1526 Main Street<br />Boston, MA 21246
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:.5rem;">Phone:</td>
                        <td style="padding:.5rem;">801-555-8464</td>
                    </tr>
                    <tr>
                        <td style="padding:.5rem;">Email:</td>
                        <td style="padding:.5rem;">me23243243@gmail.com</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table border="0" cellpadding="0" cellspacing="0" style="margin-top:1rem;width:100%;border-collapse:collapse;border-spacing:0;border:solid 1px #d1d1d1;background-color:#ffffff;">
                    <tr style="background-color:#559ce3;color:#ffffff;">
                        <td style="font-size:1em;padding:1rem;"><strong>Terms &amp; Conditions</strong></td>
                    </tr>
                    <tr>
                        <td style="padding:1rem;">
                            MUST BE 25 YEARS OR OLDER TO BOOK THIS RESERVATION or accompanied by a parent / guardian. All Rates Subject to Change Without Notice. Rates are based on 2 adults and 2 kids (under the age of 16). Additional adults and kids will be charged $10 per night.
                            <P>
                                <b>Reservation Confirmation</b><br>
                                Any reservation without an advance deposit is not guaranteed. Any reservation not meeting these requirements
                                will not be confirmed. No pets allowed.
                            <P>

                                <b>Cancellation Policy </b><Br>
                                If you cancel within 14 days of arrival you forfeit your advance deposit. If you cancel prior to the 14 days you will
                                receive a refund less a 20% service charge. Transfers and changes not subject to full forfeiture. Transfers and
                                changes not accepted 7 days (3:00 pm) prior to arrival date. Changes not accepted on arrival. No refunds for
                                early departure. Monthly winter rentals require 30 day cancellation notice/transfers or changes (3:00 pm) prior
                                to scheduled arrival date for refund minus $50 service charge. Balance of room charges are due upon arrival.
                                Golf packages and tee time cancellations require a more strict cancellation policy. Sorry, we do not honor change
                                requests regarding golf tee times after arrival.
                            <P>
                                <b>Credit Card Policy</b><br>
                                Please bring the credit card used for advance deposit and a photo ID with you at check-in. The credit card used
                                for payment at check-in must be in the name of the presenter and verifiable by photo ID.
                            <P>
                                <b>Discount Information</b><br>
                                Only 1 discount per stay and must be applied for at check-in. Packages, golf packages, group rates, student rates, monthly
                                rentals, holidays and special promotions not subject to discount. We do not offer discounts in June, July or
                                August. A surcharge will apply to weekend reservations. Discounts are off rack rates. Weekly rates are for 7
                                nights.
                            <P>
                                <b>Minimum Night Stay Requirements</b><br>
                                We reserve the right to require a minimum number of nights stay in any unit at any time of the year. It is our desire
                                to honor all requests for room type, however, we cannot guarantee specific room numbers or floor levels.
                            <P>
                                <b>Reservation Information </b><br>
                                Reservations are non-transferable. Canadian reservations must be made in US funds. $10 per night for each extra person.
                                The maximum number of persons allowed to occupy each room type is outlined in our rate schedule.  $18.65 Resort fee, $5 key deposit and applicable phone deposit
                                due on arrival/refunded upon return. Management is not responsible for valuables left in room or theft/vandalism to vehicles.
                                We have safety deposit boxes behind the front desk for your use at no extra charge. Cribs are available at no charge, first
                                come first served basis. Our property reserves the right to refuse service to anyone. No coolers or glass of any type are allowed on the pool deck or grounds.
                            <P>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>


    
    <table border="0" cellpadding="0" cellspacing="0" style="margin-top:1rem;max-height:400px;background-color:transparent;height:100%;border:0; width:90%; border-collapse:collapse;margin-left:auto;margin-right:auto;border-spacing:0;max-width:800px;">
        <tr style="height:100%;">
            <td style="height:100%;" class="paymenttable">
               
            </td>
            <td style="height:100%; padding:0px;">
               
            </td>
        </tr>
    </table>
 
</body>
</html>

