
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <!--[if gte mso 9]>
    <xml>
        <o:OfficeDocumentSettings>
        <o:AllowPNG/>
        <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="date=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="x-apple-disable-message-reformatting" />
    <!--[if !mso]><!-->
    <link href="https://fonts.googleapis.com/css?family=Yantramanav:300,400,500,700" rel="stylesheet" />
    <!--<![endif]-->
    <title>Email Template</title>
    <!--[if gte mso 9]>
    <style type="text/css" media="all">
        sup { font-size: 100% !important; }
    </style>
    <![endif]-->


    <style type="text/css" media="screen">
        /* Linked Styles */
        body {
            padding: 0 !important;
            margin: 0 !important;
            display: block !important;
            min-width: 100% !important;
            width: 100% !important;
            background: #f4f4f4;
            -webkit-text-size-adjust: none
        }

        a {
            color: #2f774a;
            text-decoration: none
        }

        p {
            padding: 0 !important;
            margin: 0 !important
        }

        img {
            -ms-interpolation-mode: bicubic; /* Allow smoother rendering of resized image in Internet Explorer */
        }

        .mcnPreviewText {
            display: none !important;
        }


        /* Mobile styles */
        @@media only screen and (max-device-width: 480px), only screen and (max-width: 480px) {
            u + .body .gwfw {
                width: 100% !important;
                width: 100vw !important;
            }

            .m-shell {
                width: 100% !important;
                min-width: 100% !important;
            }

            .m-center {
                text-align: center !important;
            }

            .center {
                margin: 0 auto !important;
            }

            .nav {
                text-align: center !important;
            }

            .text-top {
                line-height: 22px !important;
            }

            .td {
                width: 100% !important;
                min-width: 100% !important;
            }

            .bg {
                height: auto !important;
                -webkit-background-size: cover !important;
                background-size: cover !important;
            }

            .m-br-15 {
                height: 15px !important;
            }

            .p30-15 {
                padding: 30px 15px !important;
            }

            .p0-15-30 {
                padding: 0px 15px 30px 15px !important;
            }
            .p0-15{
                padding: 0px 15px 0px 15px !important;
            }

            .pb40 {
                padding-bottom: 40px !important;
            }

            .pb0 {
                padding-bottom: 0px !important;
            }

            .pb20 {
                padding-bottom: 20px !important;
            }

            .m-td,
            .m-hide {
                display: none !important;
                width: 0 !important;
                height: 0 !important;
                font-size: 0 !important;
                line-height: 0 !important;
                min-height: 0 !important;
            }

            .m-height {
                height: auto !important;
            }

            .m-block {
                display: block !important;
            }

            .fluid-img img {
                width: 100% !important;
                max-width: 100% !important;
                height: auto !important;
            }

            .column,
            .column-top,
            .column-dir,
            .column-bottom,
            .column-dir-top,
            .column-dir-bottom {
                float: left !important;
                width: 100% !important;
                display: block !important;
            }

            .content-spacing {
                width: 15px !important;
            }
        }
    </style>
</head>
<body class="body" style="padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; background:#f4f4f4; -webkit-text-size-adjust:none;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f4f4f4" class="gwfw">
        <tr>
            <td align="center" valign="top">
                <!-- Main -->
                <div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center" style="padding-bottom: 40px;" class="pb0">
                            <!-- Shell -->
                            <table width="650" border="0" cellspacing="0" cellpadding="0" class="m-shell">
                                <tr>
                                    <td class="td" style="width:650px; min-width:650px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">

                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="border-radius: 6px 6px 0px 0px;">
                                            <tr>
                                                <td style="padding: 40px;">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <th class="column" width="118" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td class="img m-center" style="font-size:0pt; line-height:0pt; text-align:left;"><a href="#" target="_blank"><img src="https://www.sandcastlesouthbeach.com/images/SC-logo.png" width="200" height="60" border="0" alt="" /></a></td>
                                                                    </tr>
                                                                </table>
                                                            </th>
                                                            <th style="padding-bottom:20px !important; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;" class="column" width="1"></th>
                                                            <th class="column" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td align="right">
                                                                            <table border="0" cellspacing="0" cellpadding="0" class="center" style="text-align:center;">
                                                                                <tr>
                                                                                    <td class="content-spacing" width="25" style="font-size:0pt; line-height:0pt; text-align:left;"></td>

                                                                                    <td class="nav" style="color:#000000; font-family:'Yantramanav', Arial, sans-serif; font-size:16px; line-height:20px; text-align:right; min-width:auto !important; font-weight:500;"><span class="link-black" style="color:#000001; text-decoration:none;">RESERVATION CONFIRMATION</span></td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </th>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <!-- END Header -->
                                        <!-- Confirmation Number -->
                                        <div mc:repeatable="Select" mc:variant="Title + Full-Width Image + Text Center + Button">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                                                <tr>
                                                    <td style="padding: 0px;" class="p0-15">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td class="h3 center" style="padding-bottom: 30px; color:#444444; font-family:'Yantramanav', Arial, sans-serif; font-size:28px; line-height:37px; font-weight:300; text-align:center;">Confirmation Number: 2020111159222</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!-- END Title + Full-Width Image + Text Center + Button -->
                                        <!-- Article Image On The Left -->
                                        <div mc:repeatable="Select" mc:variant="Article Image On The Left">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                                                <tr>
                                                    <td style="padding: 0px 40px 40px 40px;" class="p0-15-30">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <th colspan="3">
                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tr>
                                                                            <td class="h2 title-separator" style="color:#444444; font-family:'Yantramanav', Arial, sans-serif; font-size:32px; line-height:38px; text-align:left; font-weight:300; padding-bottom:3px; border-bottom:1px solid #60605a;"><multiline>Sandcastle at South Castle</multiline></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="fluid-img" style="padding-bottom: 20px; font-size:0pt; line-height:0pt; text-align:left;"><a href="#" target="_blank"><img src="http://www.creeksidewebservices.com/email-images/image2.jpg" width="570" height="195" border="0" alt="" /></a></td>
                                                                        </tr>
                                                                    </table>
                                                                </th>
                                                            </tr>
                                                            <tr>
                                                                <th colspan="3">
                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
                                                                        <tr>
                                                                            <td class="text" style="padding-bottom: 5px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:center; min-width:auto !important;"><a href="#" target="_blank" class="link-black" style="color:#000001; text-decoration:none;"><span class="link-black" style="color:#000001; text-decoration:none;">1802 North Ocean Blvd Myrtle Beach SC, 29577</span></a></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="text" style="padding-bottom: 20px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:center; min-width:auto !important;"><a href="#" target="_blank" class="link-black" style="color:#000001; text-decoration:none;"><span class="link-black" style="color:#000001; text-decoration:none;">1-800-910-5368</span></a></td>
                                                                        </tr>
                                                                    </table>
                                                                </th>
                                                            </tr>
                                                            <tr>
                                                                <th class="column" bgcolor="#f4f4f4" width="260" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tr>
                                                                            <td class="text m-center" style="padding:25px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:left; min-width:auto !important;">
                                                                                <strong>Check In:</strong><br />
                                                                                Tuesday Oct. 28, 2020<br />
                                                                                After 3:00pm<br />
                                                                            </td>

                                                                        </tr>
                                                                    </table>
                                                                </th>
                                                                <th bgcolor="#f4f4f4" style="padding-bottom:0px !important; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;" class="column" width="60"></th>
                                                                <th bgcolor="#f4f4f4" class="column m-center" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tr>
                                                                            <td align="left">

                                                                            <td class="text m-center" style="padding:25px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:left; min-width:auto !important;">
                                                                                <strong>Check Out:</strong><br />
                                                                                Tuesday Oct. 28, 2020<br />
                                                                                By 11:00am
                                                                            </td>

                                                    </td>
                                                </tr>
                                            </table>
                                            </th>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                </div>
                <!-- END Article Image On The Left -->
                <!-- Article Image On The Left -->
                <div mc:repeatable="Select" mc:variant="Article Image On The Left">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                        <tr>
                            <td style="padding: 0px 40px 0px 40px;" class="p0-15">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="h2 title-separator" style="color:#444444; font-family:'Yantramanav', Arial, sans-serif; font-size:32px; line-height:38px; text-align:left; font-weight:300; padding-bottom:3px; border-bottom:1px solid #60605a;"><multiline>Oceanfront Executive King</multiline></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 0px 40px 40px 40px;" class="p0-15-30">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <th valign="top" class="column" width="260" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td class="fluid-img" style="font-size:0pt; line-height:0pt; text-align:left;"><img src="https://www.sandcastlesouthbeach.com/data1/images/typeg-pic1.jpg" width="260" height="186" border="0" alt="" /></td>
                                                </tr>
                                            </table>
                                        </th>
                                        <th style="padding-bottom:20px !important; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;" class="column" width="16"></th>
                                        <th class="column" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">

                                                <tr>
                                                    <td class="text" style="padding-bottom: 5px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:left; min-width:auto !important;">Our Oceanfront Executive King sleeps up to 4 and is non-smoking. The unit has 1 King Bed, 1 flat screen TV, Kitchen, Microwave, Stove and a Private Balcony.</td>
                                                </tr>
                                                <tr>
                                                    <td class="text" style="padding-bottom: 5px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:left; min-width:auto !important;">
                                                        <strong>Guest: 2 Adults, 0 Children</strong><br />
                                                        <strong>Rooms Booked: 1</strong>
                                                    </td>
                                                </tr>

                                            </table>
                                        </th>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- END Article Image On The Left -->
                <!-- Article Image On The Left -->
                <div mc:repeatable="Select" mc:variant="Article Image On The Left">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                        <tr>
                            <td style="padding: 0px 40px 40px 40px;" class="p0-15-30">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <th valign="top" class="column" width="240" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td colspan="2" class="h2 title-separator" style="color:#444444; font-family:'Yantramanav', Arial, sans-serif; font-size:32px; line-height:38px; text-align:left; font-weight:300; padding-bottom:3px; border-bottom:1px solid #60605a;"><multiline>Payment</multiline></td>
                                                </tr>
                                                <tr>
                                                    <td class="text" style="padding-bottom: 10px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:left; min-width:auto !important;">Subtotal</td>
                                                    <td class="text" style="padding-bottom: 10px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:right; min-width:auto !important;">$420.00</td>
                                                </tr>
                                                <tr>
                                                    <td class="text" style="padding-bottom: 10px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:left; min-width:auto !important;">Taxes &amp; fees</td>
                                                    <td class="text" style="padding-bottom: 10px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:right; min-width:auto !important;">$60.00</td>
                                                </tr>
                                                <tr>
                                                    <td class="text" style="padding-bottom: 10px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:left; min-width:auto !important;">Total Cost</td>
                                                    <td class="text" style="padding-bottom: 10px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:right; min-width:auto !important;">$500.00</td>
                                                </tr>
                                                <tr>
                                                    <td class="text" style="padding-bottom: 10px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:left; min-width:auto !important;font-weight:bold;">Deposit</td>
                                                    <td class="text" style="padding-bottom: 10px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:right; min-width:auto !important;font-weight:bold;">$125.00</td>
                                                </tr>
                                            </table>
                                        </th>
                                        <th style="padding-bottom:20px !important; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;" class="column" width="40"></th>
                                        <th class="column" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td colspan="2" class="h2 title-separator" style="color:#444444; font-family:'Yantramanav', Arial, sans-serif; font-size:32px; line-height:38px; text-align:left; font-weight:300; padding-bottom:3px; border-bottom:1px solid #60605a;"><multiline>Customer Details</multiline></td>
                                                </tr>
                                                <tr>
                                                    <td class="text" style="padding-bottom: 10px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:left; min-width:auto !important;">Guest Name</td>
                                                    <td class="text" style="padding-bottom: 10px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:right; min-width:auto !important;">Jane Doe</td>
                                                </tr>
                                                <tr>
                                                    <td class="text" style="padding-bottom: 10px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:left; min-width:auto !important;">Address</td>
                                                    <td class="text" style="padding-bottom: 10px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:right; min-width:auto !important;">1526 Main Street<br />Boston, MA 21246</td>
                                                </tr>
                                                <tr>
                                                    <td class="text" style="padding-bottom: 10px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:left; min-width:auto !important;">Phone</td>
                                                    <td class="text" style="padding-bottom: 10px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:right; min-width:auto !important;">801-555-8464</td>
                                                </tr>
                                                <tr>
                                                    <td class="text" style="padding-bottom: 10px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:left; min-width:auto !important;">Email</td>
                                                    <td class="text" style="padding-bottom: 10px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:right; min-width:auto !important;">me23243243@gmail.com</td>
                                                </tr>

                                            </table>
                                        </th>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- END Article Image On The Left -->

                <div mc:repeatable="Select" mc:variant="Article Image On The Left">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                        <tr>
                            <td style="padding: 0px 40px 0px 40px;" class="p0-15">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="h2 title-separator" style="color:#444444; font-family:'Yantramanav', Arial, sans-serif; font-size:32px; line-height:38px; text-align:left; font-weight:300; padding-bottom:3px; border-bottom:1px solid #60605a;"><multiline>Add-ons</multiline></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 0px 40px 40px 40px;" class="p0-15-30">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    
                                    <tr>
                                        <td class="text" style="padding-bottom: 10px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:left; min-width:auto !important;">Dog Walk Services</td>
                                        <td class="text" style="padding-bottom: 10px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:center; min-width:auto !important;">Qty: 2 - Oct.28th</td>
                                        <td class="text" style="padding-bottom: 10px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:right; min-width:auto !important;">$45.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text" style="padding-bottom: 10px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:left; min-width:auto !important;">Dog Walk Services</td>
                                        <td class="text" style="padding-bottom: 10px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:center; min-width:auto !important;">Qty: 2</td>
                                        <td class="text" style="padding-bottom: 10px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:right; min-width:auto !important;">included</td>
                                    </tr>
                                    <tr>
                                        <td class="text" style="padding-bottom: 10px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:left; min-width:auto !important;">Dog Walk Services</td>
                                        <td class="text" style="padding-bottom: 10px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:center; min-width:auto !important;">Oct.28th</td>
                                        <td class="text" style="padding-bottom: 10px; color:#666666; font-family:Arial, sans-serif; font-size:16px; line-height:30px; text-align:right; min-width:auto !important;">$454.00</td>
                                    </tr>
                                  
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>

                <div mc:repeatable="Select" mc:variant="Article Image On The Left">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                        <tr>
                            <td style="padding: 0px 40px 0px 40px;" class="p0-15">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="h2 title-separator" style="color:#444444; font-family:'Yantramanav', Arial, sans-serif; font-size:32px; line-height:38px; text-align:left; font-weight:300; padding-bottom:3px; border-bottom:1px solid #60605a;"><multiline>Terms &amp; Conditions</multiline></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 0px 40px 20px 40px;" class="p0-15-30">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="text" style="color:#444444; font-family:'Yantramanav', Arial, sans-serif; font-size:16px; line-height:20px; text-align:left; font-weight:300; padding-bottom:3px; padding-top:10px;">
                                            MUST BE 25 YEARS OR OLDER TO BOOK THIS RESERVATION or accompanied by a parent / guardian. All Rates Subject to Change Without Notice. Rates are based on 2 adults and 2 kids (under the age of 16). Additional adults and kids will be charged $10 per night.
                                            <P>
                                                <b>Reservation Confirmation</b><br>
                                                Any reservation without an advance deposit is not guaranteed. Any reservation not meeting these requirements
                                                will not be confirmed. No pets allowed.
                                            <P>

                                                <b>Cancellation Policy </b><Br>
                                                If you cancel within 14 days of arrival you forfeit your advance deposit. If you cancel prior to the 14 days you will
                                                receive a refund less a 20% service charge. Transfers and changes not subject to full forfeiture. Transfers and
                                                changes not accepted 7 days (3:00 pm) prior to arrival date. Changes not accepted on arrival. No refunds for
                                                early departure. Monthly winter rentals require 30 day cancellation notice/transfers or changes (3:00 pm) prior
                                                to scheduled arrival date for refund minus $50 service charge. Balance of room charges are due upon arrival.
                                                Golf packages and tee time cancellations require a more strict cancellation policy. Sorry, we do not honor change
                                                requests regarding golf tee times after arrival.
                                            <P>
                                                <b>Credit Card Policy</b><br>
                                                Please bring the credit card used for advance deposit and a photo ID with you at check-in. The credit card used
                                                for payment at check-in must be in the name of the presenter and verifiable by photo ID.
                                            <P>
                                                <b>Discount Information</b><br>
                                                Only 1 discount per stay and must be applied for at check-in. Packages, golf packages, group rates, student rates, monthly
                                                rentals, holidays and special promotions not subject to discount. We do not offer discounts in June, July or
                                                August. A surcharge will apply to weekend reservations. Discounts are off rack rates. Weekly rates are for 7
                                                nights.
                                            <P>
                                                <b>Minimum Night Stay Requirements</b><br>
                                                We reserve the right to require a minimum number of nights stay in any unit at any time of the year. It is our desire
                                                to honor all requests for room type, however, we cannot guarantee specific room numbers or floor levels.
                                            <P>
                                                <b>Reservation Information </b><br>
                                                Reservations are non-transferable. Canadian reservations must be made in US funds. $10 per night for each extra person.
                                                The maximum number of persons allowed to occupy each room type is outlined in our rate schedule.  $18.65 Resort fee, $5 key deposit and applicable phone deposit
                                                due on arrival/refunded upon return. Management is not responsible for valuables left in room or theft/vandalism to vehicles.
                                                We have safety deposit boxes behind the front desk for your use at no extra charge. Cribs are available at no charge, first
                                                come first served basis. Our property reserves the right to refuse service to anyone. No coolers or glass of any type are allowed on the pool deck or grounds.

                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>



                <!-- Footer -->
                <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                    <tr>
                        <td style="padding: 20px 40px; border-top: 3px solid #f4f4f4;" class="p30-15">


                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <th class="column" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td class="text-footer m-center" style="padding-bottom: 15px; color:#999999; font-family:Arial, sans-serif; font-size:14px; line-height:18px; text-align:left; min-width:auto !important;">Copyright Info...</td>
                                            </tr>
                                        </table>
                                    </th>
                                    <th style="padding-bottom:25px !important; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal;" class="column" width="20"></th>
                                    <th class="column-bottom" width="118" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:bottom;">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td class="text-footer right m-center" style="color:#999999; font-family:Arial, sans-serif; font-size:14px; line-height:18px; min-width:auto !important; text-align:right;"><a href="#" target="_blank" class="link-grey-u" style="color:#999999; text-decoration:underline;"><span class="link-grey-u" style="color:#999999; text-decoration:underline;">Unsubscribe</span></a></td>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!-- END Footer -->
            </td>
                                </tr>
                            </table>
                    
</body>
</html>

