
<div class="container mt-3 no-display" style="max-width:600px;" id="warning">
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-bs-dismiss="alert">&times;</button>
        <strong>Heads up!</strong> If a date does not display a tier level, it will automatically be set to Tier A
    </div>


</div>


<div class="container mt-3" style="max-width:600px;">
    <p class="h2 text-info text-center"><span id="PackageName"></span></p>
    <div id='calendar'></div>

</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div class="form-group">
                    @Html.DropDownList("tier", new List<SelectListItem> {
                        new SelectListItem{Text = "A", Value = "a"},
                        new SelectListItem{Text = "B", Value = "b"},
                        new SelectListItem{Text = "C", Value = "c"},
                        new SelectListItem{Text = "D", Value = "d"}
                    }, htmlAttributes: new { @class = "custom-select" })
                    <input type="hidden" id="tierid" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSave" class="btn btn-success">Save</button>

                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>